RemoteSystemsTempFiles
**/RemoteSystemsTempFiles
**/classes
**/bin
**/log
**/build
**/build.num
**/dist
**/lib
**/*.class
**/.svn
**/dependency-reduced-pom.xml
**/.metadata
**/npm-debug.log
**/*.DS_Store
*/target
**/node_modules
**/bower_components
**/.settings/*
**/.settings/
**/.project
**/.classpath
Servers/*
Servers
.idea/*
.idea
.recommenders
.recommenders/*
.eml
.iml
**/.eml
**/.iml
/target/
